<style>
  h3 {
    font-family: sans-serif;
  }
  p {
    font-family:sans-serif;
  }
</style>

<h3>Quittance en attente de règlement du loyer</h3>

<p>
  Bonjour <%= @locataire.prenom %> <%= @locataire.nom %>,

  Vous êtes actuellement locataire du <%= @bien.nom %>.
  Le loyer du mois en cours n'a pas encore été réglé.

  Vous n'avez pas encore ajouté vos biens en location?

  N'hésitez pas à me contacter en cas de difficulté.

  <%= @user.prenom %> <%= @user.nom %>

</p>
