<div class="container">
  
	<!-- WELCOME MESSAGE
	<div class="section-introduction">
		<p>Bonjour <%= current_user.prenom %>, ravi de vous revoir parmi nous !</p>
	</div> -->


	<!-- LOYERS POP UP; color depends on status -->
	<% if @any_loyer_missing_all_bien %>
		<section class="section-card section-pop-up section-alert">
			<p>Un ou plusieurs loyers du mois de mars n'ont pas été réglés !</p>
		</section>
	<% else %>
		<section class="section-card section-pop-up section-success">
			<p>Tous les loyers du mois de mars ont été payés !</p>
		</section>
	<% end %>

	<!-- KEY PERFORMANCE INDICATORS *3 -->
	<section class="section-kpi">

		<!-- NET CF SINCE BEGINNING -->
		<div class="section-card kpi-card" style="background-color: #152F70;">
			<p class="kpi-big-number">+XX XXX<span class="kpi-little-symbol">€</span></p>
			<p class="kpi-metric-name">nets générés au total</p>
		</div>

		<!-- ESTIMATED ANNUAL PERFORMANCE -->
		<div class="section-card kpi-card" style="background-color: #152F70;">
			<p class="kpi-big-number">X,X<span class="kpi-little-symbol">%</span></p>
			<p class="kpi-metric-name">rentabilité annuelle moyenne</p>
		</div>

		<!-- ESTIMATED VALUE OF GLOBAL REAL ESTATE -->
		<div class="section-card kpi-card" style="background-color: #152F70;">
			<p class="kpi-big-number">X XXX XXX<span class="kpi-little-symbol">€</span></p>
			<p class="kpi-metric-name">valeur estimée de vos biens</p>
		</div>
	</section>

	<!-- GRAPHS OVER LAST 12 MONTHS-->
	<section class="section-graph">

		<!-- DETAILED CF PER MONTH with CUMULATIVE CF GRAPH -->
    <div id="depenses" data-depenses="<%= @cfbiens_months %>" data-months="<%= @months_display %>" data-courbe="<%= @cash_flow_courbe %>" class="graph-card" style="width: 450px;">
          <canvas class="graph" id="myChartCourbe"></canvas>
    </div>

		<!-- CUMULATIVE CF PER FLAT GRAPH -->
		<div id="cfbien" data-cfbien="<%= @cfbiens %>" data-label="<%= @apartments_display %>" class="graph-card" style="width: 450px;">
          <canvas class="graph" id="myChartBiens"></canvas>
     </div>

	</section>


	<!-- BIENS LIST -->
	<section class="section-biens-list" id="biens-list">

		<!-- LIST -->
		<div>
			<% @biens.each do |bien| %>
				<!-- BIEN LIST-CARD -->
				<div class="card-product" style="background-color: #152F70; border-radius: 5px;">

					<!-- LEFT PART of the card -->
					<div class="card-product-informations">
						<!-- ICON -->
						<i class="card-product-icon fas fa-house-user"></i>
						<!-- BASE INFO -->
						<div class="card-product-text-infos">
							<%= link_to bien.nom, bien_path(bien) %>
						</div>

					</div>

					<!-- RIGHT PART of the card QUICK ACTIONS -->
					<div class="card-product-quick-actions">

						<!-- LOYER PAID ? -->
						<% if bien.loyers.empty? %>
							<div class="block-base block-btn block-btn-loyer">
								<p>Valider le loyer</p>
								<%= link_to "", bien_loyers_path(bien_id: bien.id), method: :post %>
							</div>

						<% elsif bien.loyers.last.date_paiement.month != Date.today.month %>
							<div class="block-base block-btn block-btn-loyer">
								<p>Valider le loyer</p>
								<%= link_to "", bien_loyers_path(bien_id: bien.id), method: :post %>
							</div>
						<% else %>
							<div class="block-base block-paid-success" style="color: white;">
								<p>Loyer reçu ✅</p>
							</div>
						<% end %>

						<!-- RELANCE TO DO ? -->
						<% if bien.loyers.empty? %>
							<div class="block-base block-btn block-btn-relance">
								<p>Faire une relance</p>
								<%= link_to "", relance_bien_loyers_path(bien_id: bien.id), method: :post %>
							</div>
						<% else bien.loyers.last.date_paiement.month != Date.today.month %>
							<div class="block-base block-btn block-btn-relance">
								<p>Faire une relance</p>
								<%= link_to "", relance_bien_loyers_path(bien_id: bien.id), method: :post %>
							</div>
						<% end %>

						<!-- ADD A DEPENSE -->
						<div class="block-base btn btn-secondary block-btn block-btn-add-depense">
							<p>Ajouter une dépense</p>
							<%= link_to "", bien_path(bien) %>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<!-- ADD A BIEN -->
		<div class="card-product-new-bien">
			<div class="large-block-base block-btn block-btn-add-bien">
				<i class="far fa-plus-square"></i>
				<p>Ajouter un nouveau bien</p>
				<%= link_to "" , new_bien_path, class:"txt-hover" %>
			</div>
		</div>

	</section>


	<!-- BIENS MAP -->
	<section class="section-card section-mapbox">
		<h3>Localisation de vos <%= @biens.count %> biens</h3>

		<div id="map"
			data-markers="<%= @markers.to_json %>"
			data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
		</div>

	</section>


	<!-- FOOTER -->
	<div class="footer-set-height">
		<%= render 'shared/footer_body' unless @home %>
	</div>

</div>
