<div class="container">

	<!-- WELCOME MESSAGE
	<div class="section-introduction">
		<p>Bonjour <%= current_user.prenom %>, ravi de vous revoir parmi nous !</p>
	</div> -->

	<!-- LOYERS POP UP; color depends on status -->
	<% if @any_loyer_missing_all_bien %>
		<section class="section-card section-pop-up section-pop-up-hover section-alert">
      <%= link_to '', href: "#biens-list" do %>
        <i class="fas fa-info-circle"></i>
        <p>Un ou plusieurs loyers du mois de mars n'ont pas été réglés !</p>
      <% end %>
		</section>
	<% else %>
		<section class="section-card section-pop-up section-success">
      <i class="fas fa-check-circle"></i>
			<p>Tous les loyers du mois de mars ont été payés !</p>
		</section>
	<% end %>

	<!-- KEY PERFORMANCE INDICATORS *3 -->
	<%# <section class="section-kpi"> %>
		<div class="kpi">

			<!-- NET CF SINCE BEGINNING -->
			<div class="section-card-no_shadow kpi-card" style="color: black;">
				<% if @total_cash_flow >= 0 %>
					<p class="kpi-big-number-positive"> <%= number_with_delimiter(@total_cash_flow, delimiter: " ") %> <span class="kpi-little-symbol"> €</span></p>
				<% else %>
					<p class="kpi-big-number-negative"><%=number_with_delimiter(@total_cash_flow, delimiter: " ") %> <span class="kpi-little-symbol"> €</span></p>
				<% end %>
				<p class="kpi-metric-name">Revenus nets générés de votre patrimoine</p>
			</div>


			<!-- ESTIMATED ANNUAL PERFORMANCE -->
			<div class="section-card-no_shadow kpi-card" style="color: black;">
				<% if @rentability_ytd_all_biens >= 0 %>
					<p class="kpi-big-number-positive"><%= number_with_precision(@rentability_ytd_all_biens, :precision => 2, :delimiter => ',') %><span class="kpi-little-symbol"> %</span></p>
				<% else %>
					<p class="kpi-big-number-negative"><%= number_with_precision(@rentability_ytd_all_biens, :precision => 2, :delimiter => ',') %><span class="kpi-little-symbol"> %</span></p>
				<% end %>
				<p class="kpi-metric-name">Rentabilité annuelle nette YTD</p>
			</div>


			<!-- ESTIMATED VALUE OF GLOBAL REAL ESTATE -->
			<div class="section-card-no_shadow kpi-card">
				<p class="kpi-big-number" style="color: #152F70;"><%= number_with_delimiter(@biens.reduce(0) { |sum, bien| sum + bien.prix_acquisition} , delimiter: " ") %><span class="kpi-little-symbol"> €</span></p>
				<p class="kpi-metric-name" style="color: black;">Valeur estimée de vos biens</p>
			</div>

		</div>
	<%# </section> %>

	<!-- GRAPHS OVER LAST 12 MONTHS-->
	<section class="section-graph">

		<!-- DETAILED CF PER MONTH with CUMULATIVE CF GRAPH -->
    <div id="depenses" data-depenses="<%= @cfbiens_months %>" data-months="<%= @months_display %>" data-courbe="<%= @cash_flow_courbe_biens %>" class="graph-card" style="width: 450px;">
          <canvas class="graph" id="myChartCourbe"></canvas>
    </div>

		<!-- CUMULATIVE CF PER FLAT GRAPH -->
		<div id="cfbien" data-cfbien="<%= @cfbiens %>" data-label="<%= @apartments_display %>" data-bien-id="<%= @apartments_id %>" class="graph-card" style="width: 450px;">
          <canvas class="graph" id="myChartBiens"></canvas>
     </div>

	</section>

  <div class="section-biens-mapbox">
    <!-- BIENS LIST -->
    <div class="section-biens-list" id="biens-list">

      <!-- LIST -->
      <div>
        <% @biens.each do |bien| %>
          <!-- BIEN LIST-CARD -->
          <div class="card-product" style="border-radius: 5px;">

            <!-- LEFT PART of the card -->
            <div class="card-product-informations">
              <!-- ICON -->
              <% if bien.categorie =="Maison"%>
                <i class="fas fa-house-user"></i>
              <% else %>
                <i class="fas fa-building"></i>
              <% end %>
              <!-- BASE INFO -->
              <div class="card-product-text-infos">
                <%= link_to bien.nom, bien_path(bien) %>
              </div>

            </div>

            <!-- RIGHT PART of the card QUICK ACTIONS -->
            <div class="card-product-quick-actions">

              <!-- LOYER PAID ? -->
              <% if bien.loyers.empty? %>
                <%# <p>Valider le loyer</p> %>
                <div class="card-product-icone-text">
                  <%= link_to bien_loyers_path(bien_id: bien.id, target: biens_path(anchor: "biens-list")), method: :post do %>
                    <span><i class="fas fa-euro-sign" title="Valider le loyer"></i>Valider le loyer</span>
                  <% end %>
                </div>


              <% elsif bien.loyers.last.date_paiement.month != Date.today.month %>
                <%# <p>Valider le loyer</p> %>
                <div class="card-product-icone-text">
                  <%= link_to bien_loyers_path(bien_id: bien.id, target: biens_path(anchor: "biens-list")), method: :post do %>
                    <span><i class="fas fa-euro-sign" title="Valider le loyer"></i>Valider le loyer</span>
                  <% end %>
                </div>
              <% else %>
                <div class="card-product-icone-text" style="color:green">
                  <span><i class="fas fa-check" title="Loyer reçu" style="color:green"></i>Loyer Reçu</span>
                </div>
              <% end %>

              <!-- RELANCE TO DO ? -->
              <% if bien.loyers.empty? %>
              <%# <p>Faire une relance</p> %>
                <div class="card-product-icone-text">
                  <%= link_to relance_bien_loyers_path(bien_id: bien.id), method: :post, class: 'relance-enveloppe' do %>
                    <span style="color:orange"><i class="far fa-envelope-open" title="Envoyer une relance au locataire" style="color:orange"></i>Envoyer relance</span>
                  <% end %>
                </div>

              <% elsif bien.loyers.last.date_paiement.month != Date.today.month %>
              <%# <p>Faire une relance</p> %>
                <div class="card-product-icone-text">
                  <%= link_to relance_bien_loyers_path(bien_id: bien.id), method: :post, class: 'enveloppe-relance' do %>
                    <span style="color:orange"><i class="far fa-envelope-open" title="Envoyer une relance au locataire" style="color:orange"></i>Envoyer relance</span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- ADD A BIEN -->

      <div class="card-product-new-bien">
        <div class="large-block-base block-btn block-btn-add-bien">
          <i class="fas fa-plus-circle"></i>
          <p>Ajouter un nouveau bien</p>
          <%= link_to "" , new_bien_path, class:"txt-hover" %>
        </div>
      </div>
    </div>

    <!-- BIENS MAP -->
    <div class="section-card-no-margin section-mapbox">
      <h3>Vos <%= @biens.count %> investissements locatifs</h3>

      <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

	<!-- FOOTER -->
	<div class="footer-set-height">
		<%= render 'shared/footer_body' unless @home %>
	</div>

</div>
