<div class="container">

	<!-- WELCOME MESSAGE -->
	<div class="">
		<p class="">Bonjour <%= current_user.prenom %>, ravi de vous revoir parmi nous</p>
	</div>


	<!-- LOYERS POP UP; color depends on status -->
	<section class="section-card section-pop-up section-alert">
		<p>Ici on met du JS avec cond si loyers mois non payé</p>
	</section>


	<!-- GRAPHS OVER LAST 12 MONTHS-->
	<section class="section-graph">
		<div class="row row-cols-1 row-cols-md-2">

			<!-- DETAILED CF PER MONTH with CUMULATIVE CF GRAPH -->
			<div class="graph-card">
				<canvas class="graph" id="myChartCourbe"></canvas>
			</div>

			<!-- CUMULATIVE CF PER FLAT GRAPH -->
			<div class="graph-card">
				<canvas class="graph" id="myChartBiens"></canvas>
			</div>

		</div>
	</section>


	<!-- BIENS LIST -->
	<section class="section-card">
		<!-- LIST -->
		<div>
			<% @biens.each do |bien| %>
				<!-- BIEN LIST-CARD -->
				<div class="card-product">
					<i class="fas fa-house-user"></i>
					<div class="card-product-infos">
						<h2><%= link_to bien.nom, bien_path(bien) %></h2>
						<p>Categorie: <strong><%= bien.categorie %></strong></p>
						<p>Adresse: <strong><%= bien.adresse %></strong></p>
					</div>
				</div>
			<% end %>
		</div>

		<!-- ADD A BIEN -->
		<div>

		</div>

	</section>





		<%# <div class="col" style="padding: 10px" > %>
			<%# <div class="card"> %>
				<div class="card-body" style="padding-bottom: 5px" >
					<% @biens.each do |bien| %>
						<div class="card-product" style="padding: 10px; margin-top: 5px;">
							<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
							<div class="card-product-infos" style="width: 600px">
								<h2><%= link_to bien.nom, bien_path(bien) %></h2>
								<p style="font-size: medium">Categorie: <strong><%= bien.categorie %></strong></p>
								<p style="font-size: medium">Adresse: <strong><%= bien.adresse %></strong></p>
							</div>
							<div class="card-button" style="margin-right: 300px">
								<p style="font-size: medium">
								<strong>⚠️Loyer Payé</strong>
									<%= link_to "YES ✅", new_bien_path, remote: true, class: "btn btn-ghost" %>
									<%= link_to "NO  ❎", new_bien_path, remote: true, class: "btn btn-ghost" %>
								</p>
							</div>
						</div>
					<% end %>
					<div class="card-product" style="padding: 10px; margin-top: 5px;">
  					<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  					<div class="card-product-infos" style="width: 600px">
  					  <h2>Vous pouvez ajouter un bien</h2>
							<div type="button" class="btn btn-secondary txt-hover" style="margin: 10px; color: white; ">
						  	<%= link_to "Ajoutez ➕" , new_bien_path, class:"txt-hover" %>
							</div>
  					</div>
					</div>


				</div>
				<div class="container" style= "margin: 0 auto; text-align: center;">

			<%# </div> %>
		<%# </div> %>

	
	<!-- BIENS MAP -->
	<section class="section-card">

		<div id="map"
			style="width: 100%; height: 500px;"
			data-markers="<%= @markers.to_json %>"
			data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
		</div>

	</section>

</div>

<!-- FOOTER -->
<div class="footer-set-height">
	<%= render 'shared/footer_body' unless @home %>
</div>