<div class="container">

	<!-- WELCOME MESSAGE -->
	<div class="section-introduction">
		<p>Bonjour <%= current_user.prenom %>, ravi de vous revoir parmi nous !</p>
	</div>


	<!-- LOYERS POP UP; color depends on status -->
	<section class="section-card section-pop-up section-alert">
		<p>Ici on met du JS avec cond si loyers mois non payé</p>
	</section>


	<!-- GRAPHS OVER LAST 12 MONTHS-->
	<section class="section-graph">
		<div class="row row-cols-1 row-cols-md-2">

			<!-- DETAILED CF PER MONTH with CUMULATIVE CF GRAPH -->
			<div class="graph-card">
				<canvas class="graph" id="myChartCourbe"></canvas>
			</div>

			<!-- CUMULATIVE CF PER FLAT GRAPH -->
			<div class="graph-card">
				<canvas class="graph" id="myChartBiens"></canvas>
			</div>

		</div>
	</section>


	<!-- BIENS LIST -->
	<section class="" id="biens-list">

		<!-- LIST -->
		<div>
			<% @biens.each do |bien| %>
				<!-- BIEN LIST-CARD -->
				<div class="card-product">

					<!-- LEFT PART of the card -->
					<div class="card-product-informations">
						<!-- ICON -->
						<i class="card-product-icon fas fa-house-user"></i>
						<!-- BASE INFO -->
						<div class="card-product-text-infos">
							<%= link_to bien.nom, bien_path(bien) %>
						</div>

					</div>

					<!-- RIGHT PART of the card QUICK ACTIONS -->
					<div class="card-product-quick-actions">

						<!-- LOYER PAID ? -->
						<% if bien.loyers.empty? %>
							<div class="block-base block-btn block-btn-loyer">
								<p>Valider le loyer</p>
								<%= link_to "", bien_loyers_path(bien_id: bien.id), method: :post %>
							</div>
						<% elsif bien.loyers.last.date_paiement.month != Date.today.month %>
							<div class="block-base block-btn block-btn-loyer">
								<p>Valider le loyer</p>
								<%= link_to "", bien_loyers_path(bien_id: bien.id), method: :post %>
							</div>
						<% else %>
							<div class="block-base block-paid-success">
								<p>Loyer reçu ✅</p>
							</div>
						<% end %>

						<!-- RELANCE TO DO ? -->
						<% if bien.loyers.empty? %>
							<div class="block-base block-btn block-btn-relance">
								<p>Faire une relance</p>
								<%= link_to "", bien_loyers_path(bien_id: bien.id), method: :post %>
							</div>
						<% elsif bien.loyers.last.date_paiement.month != Date.today.month %>
							<div class="block-base block-btn block-btn-relance">
								<p>Faire une relance</p>
								<%= link_to "", bien_loyers_path(bien_id: bien.id), method: :post %>
							</div>
						<% end %>

						<!-- ADD A DEPENSE -->
						<div class="block-base block-btn block-btn-add-depense">
							<p>Ajouter une dépense</p>
							<%= link_to "", bien_path(bien) %>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<!-- ADD A BIEN -->
		<div class="card-product-new-bien">
			<div class="large-block-base block-btn block-btn-add-bien">
				<i class="far fa-plus-square"></i>
				<p>Ajouter un nouveau bien</p>
				<%= link_to "" , new_bien_path, class:"txt-hover" %>
			</div>
		</div>

	</section>

	
	<!-- BIENS MAP -->
	<section class="section-card section-mapbox">
		<h3>Localisations de vos <%= @biens.count %> biens</h3>

		<div id="map"
			data-markers="<%= @markers.to_json %>"
			data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
		</div>

	</section>

	
	<!-- FOOTER -->
	<div class="footer-set-height">
		<%= render 'shared/footer_body' unless @home %>
	</div>

</div>