<div class="container">

  <!-- TITLE -->
  <section class="section-title">
    <!-- BACK TO LIST BTN -->
    <div class="block-base block-btn block-btn-retour-biens">
      <p>Retour aux biens</p>
      <%= link_to "", biens_path %>
    </div>
    <!-- ICON -->
    <i class="card-product-icon fas fa-house-user"></i>
    <!-- TITLE NAME -->
    <h1><%= @bien.nom %></h1>
  </section>

  <!-- LOYER POP UP; color depends on status -->
	<% if @loyer_missing %>
    <section class="section-card section-pop-up section-alert">
      <p>Le loyer du mois de mars n'a pas été réglé !</p>
    </section>
  <% else %>
    <section class="section-card section-pop-up section-success">
      <p>Le loyer du mois de mars a été payé !</p>
    </section>
  <% end %>

  <!-- IMPORTANT ACTIONS -->
  <section class="section-important-actions">

    <!-- ADD LOYER -->
    <div class="section-card-add-loyer">
      <p class="">Avez-vous reçu le loyer de <%= @bien.montant_loyer %> de la part de <%= @bien.locataires.first.prenom %> <%= @bien.locataires.first.nom %> ?</p>
      <%= link_to "J'ai reçu le loyer 💰", bien_loyers_path(bien_id: @bien.id), method: :post, class:"btn btn-primary" %>
    </div>

    <!-- ADD DEPENSE -->
    <div class="section-card-add-depense">
      <p class="section-text-depense">Ajouter une dépense</p>
      <div class="form-container">
        <%= form_for @bien do |f| %>
          <%= f.simple_fields_for :depenses, @bien.depenses.build do |ff| %>
            <%= ff.hidden_field :id %>
            <div class="depense-form">
              <div id="depense-form-nom-montant-cat">
                <%= ff.input :nom, label: false, placeholder: "Nom", input_html: {class: "form-input"} %>
                <%= ff.input :montant, label: false, placeholder: "Montant", input_html: {class: "form-input"} %>
                <%= ff.input :categorie, label: false, collection: Depense::CATEGORIE, prompt: "-- Catégorie --", input_html: {class: "form-input"}  %>
              </div>
              <div id="depense-form-date">
                <%= ff.input :date_paiement, label: false, as: :date, order: [:day, :month, :year], input_html: {class: "form-input"} %>
              </div>
            </div>
          <% end %>
    
          <%= f.submit "Enregistrer", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

  </section>


<!-- TABLEAU  SYNTHESE -->
<div class="responsive-table">
  <table class="tableau-synthese">
    <thead>
      <tr>
        <th> </th>
        <th>Encaissé</th>
        <th>A venir</th>
      </tr>
    <thead>
    <tbody>
      <tr>
        <td>Loyers</td>
        <td><%= @loyers_received %></td>
        <td><%=  %>- € </td>
      </tr>
      <tr>
        <td>Taxe Foncière</td>
        <td><%= @taxe_fonciere_paid %>€</td>
        <td><%= @taxe_fonciere_tbp %>€</td>
      </tr>
      <tr>
        <td>Copropriété</td>
        <td><%= @copropriete_paid %>€</p></td>
        <td><%= @copropriete_tbp %>€</td>
      </tr>
      <tr>
        <td>Assurances</p></td>
        <td><%= @assurances_paid %>€</td>
        <td><%= @assurances_tbp %>€</td>
      </tr>
      <tr>
        <td>Travaux</p></td>
        <td><%= @travaux_paid %>€</td>
        <td><%= @travaux_tbp %>€</td>
      </tr>
      <tr>
        <td>Autres</p></td>
        <td><%= @autres_paid %>€</td>
        <td><%= @autres_tbp %>€</td>
      </tr>
    </tbody>
  </table>
</div>


  <!-- TABLEAU OPERATIONS -->


  <div class="tableau_depenses container">
    <h2>Dernières transactions </h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Date</div>
        <div class="col col-2">Categorie</div>
        <div class="col col-3">Libellé</div>
        <div class="col col-4">Montant</div>
      </li>

    <% @lasts_transactions.first(5).each do |transaction| %>
      <li class="table-row">
        <div class="col col-1" data-label="Date"><%= transaction['date_paiement'].strftime('%d/%m/%Y') %></div>
        <div class="col col-2" data-label="Categorie"><%= transaction['categorie'] || 'Loyer' %> </div>
        <div class="col col-3" data-label="Libellé"> <%= transaction['nom'] || 'Encaissé' %></div>
        <div class="col col-4" data-label="Montant"><b><%= transaction['montant'] %> €</b></div>
      </li>
    <% end %>
  </div>

  <!-- FOOTER -->
	<div class="footer-set-height">
		<%= render 'shared/footer_body' unless @home %>
	</div>

</div>

