<h1>My first apartment</h1>


<h2>Suivi financier</h2>
<h3>Recettes</h3>
<p>Loyers collectés: <%= @loyers_received %>€ reçus / <%=  %>€ à venir</p>

<h3>Dépenses</h3>
<p>Crédit: <%= @credits_paid %>€ payés / <%= @credits_tbp %>€ à payer</p>
<p>Taxe Foncière: <%= @taxe_fonciere_paid %>€ payés / <%= @taxe_fonciere_tbp %>€ à payer</p>
<p>Copropriété: <%= @copropriete_paid %>€ payés / <%= @copropriete_tbp %>€ à payer</p>
<p>Assurances: <%= @assurances_paid %>€ payés / <%= @assurances_tbp %>€ à payer</p>
<p>Travaux: <%= @travaux_paid %>€ payés / <%= @travaux_tbp %>€ à payer</p>
<p>Autres: <%= @autres_paid %>€ payés / <%= @autres_tbp %>€ à payer</p>


<p>Autres</p>


<p>Ajouter un loyer</p>
<%= link_to "Ajouter un loyer", bien_loyers_path(bien_id: @bien.id), method: :post %>

<!-- ADD DEPENSE -->
<p>Ajouter une dépense</p>
<%= form_for @bien do |f| %>
  <%= f.simple_fields_for :depenses, @bien.depenses.build do |ff| %>
    <%= ff.hidden_field :id %>
    <%= ff.input :nom %>
    <%= ff.input :montant %>
    <%= ff.input :categorie, collection: Depense::CATEGORIE %>
    <%= ff.input :date_paiement %>
  <% end %>

  <%= f.submit "Enregistrer", class: "btn btn-primary" %>
<% end %>

