<div class="container">

  <section class="section-title">
    <h1><%= @bien.nom %></h1>
  </section>

  <section class="section-head">
    <div class="section-card section-add-loyer">
      <p class="section-text-loyer">Avez-vous reçu le loyer de <%= @bien.montant_loyer %> de la part de <%= @bien.locataires.first.prenom %> <%= @bien.locataires.first.nom %> ?</p>
      <%= link_to "J'ai reçu le loyer 💰", bien_loyers_path(bien_id: @bien.id), method: :post, class:"btn btn-primary" %>
    </div>

    <div class="section-card section-add-depense">
      <!-- ADD DEPENSE -->
      <p class="section-text-depense">Ajouter une dépense</p>
      <div class="form-container">
        <%= form_for @bien do |f| %>
          <%= f.simple_fields_for :depenses, @bien.depenses.build do |ff| %>
            <%= ff.hidden_field :id %>
            <div class="d-flex justify-content-between">
              <%= ff.input :nom, label: false, placeholder: "Nom", input_html: {class: "form-input"} %>
              <%= ff.input :montant, label: false, placeholder: "Montant", input_html: {class: "form-input"} %>
              <%= ff.input :categorie, label: false, collection: Depense::CATEGORIE, prompt: "-- Sélectionnez une catégorie --", input_html: {class: "form-input"}  %>
            </div>
            <%= ff.input :date_paiement, label: false, as: :date, order: [:day, :month, :year], input_html: {class: "form-input"} %>
          <% end %>
    
          <%= f.submit "Enregistrer", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </section>

  <h2>Suivi financier</h2>
  <h3>Recettes</h3>
  <p>Loyers collectés: <%= @loyers_received %>€ reçus / <%=  %>€ à venir</p>

  <h3>Dépenses</h3>
  <p>Crédit: <%= @credits_paid %>€ payés / <%= @credits_tbp %>€ à payer</p>
  <p>Taxe Foncière: <%= @taxe_fonciere_paid %>€ payés / <%= @taxe_fonciere_tbp %>€ à payer</p>
  <p>Copropriété: <%= @copropriete_paid %>€ payés / <%= @copropriete_tbp %>€ à payer</p>
  <p>Assurances: <%= @assurances_paid %>€ payés / <%= @assurances_tbp %>€ à payer</p>
  <p>Travaux: <%= @travaux_paid %>€ payés / <%= @travaux_tbp %>€ à payer</p>
  <p>Autres: <%= @autres_paid %>€ payés / <%= @autres_tbp %>€ à payer</p>


  <p>Autres</p>



  <!-- TABLEAU OPERATIONS -->





  <div class="tableau_depenses container">
    <h2>Dernières transactions </h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Date</div>
        <div class="col col-2">Categorie</div>
        <div class="col col-3">Libellé</div>
        <div class="col col-4">Montant</div>
      </li>

    <% @lasts_transactions.first(5).each do |transaction| %>
      <li class="table-row">
        <div class="col col-1" data-label="Date"><%= transaction['date_paiement'].strftime('%m/%d/%Y') %></div>
        <div class="col col-2" data-label="Categorie"><%= transaction['categorie'] || 'Loyer' %> </div>
        <div class="col col-3" data-label="Libellé"> <%= transaction['nom'] || 'Encaissé' %></div>
        <div class="col col-4" data-label="Montant"><b><%= transaction['montant'] %> €</b></div>
      </li>
    <% end %>
  </div>


</div>