<div class="container">

  <section class="section-title">
    <h1><%= @bien.nom %></h1>
  </section>

  <section class="section-head mb-4">
    <div class="section-card section-add-loyer">
      <p class="section-text-loyer">Avez-vous reçu le loyer de <%= @bien.montant_loyer %> de la part de <%= @bien.locataires.first.prenom %> <%= @bien.locataires.first.nom %> ?</p>
      <%= link_to "J'ai reçu le loyer 💰", bien_loyers_path(bien_id: @bien.id), method: :post, class:"btn btn-gradient" %>
    </div>

    <div class="section-card section-add-depense">
      <!-- ADD DEPENSE -->
      <p class="section-text-depense">Ajouter une dépense</p>
      <div class="form-container">
        <%= form_for @bien do |f| %>
          <%= f.simple_fields_for :depenses, @bien.depenses.build do |ff| %>
            <%= ff.hidden_field :id %>
            <div class="d-flex justify-content-between">
              <%= ff.input :nom, label: false, placeholder: "Nom", input_html: {class: "form-input"} %>
              <%= ff.input :montant, label: false, placeholder: "Montant", input_html: {class: "form-input"} %>
              <%= ff.input :categorie, label: false, collection: Depense::CATEGORIE, prompt: "-- Sélectionnez une catégorie --", input_html: {class: "form-input"}  %>
            </div>
            <%= ff.input :date_paiement, label: false, as: :date, order: [:day, :month, :year], input_html: {class: "form-input"} %>
          <% end %>

          <%= f.submit "Enregistrer", class: "btn btn-gradient" %>
        <% end %>
      </div>
    </div>
  </section>

    <div class="flex-container">

    <!-- descriptif bien / locataire -->
      <div class="flex-item">
        <ul class="horizontal-bien">
          <label for="one">
            <li class="item">
              <input checked type="radio" name="bien" id="one">

              <div class="item--container">
                <header class="item--header">
                  <span class="item--header--icon"><i class="fa fa-home"></i></span>
                  <h4 class="item--header--title"><%= @bien.nom %></h4>
                </header>

                <ul class="item--description">
                  <li><%= @bien.categorie %></li>
                  <li>loyer : <%= @bien.montant_loyer %>€</li>
                  <li>acquis le : <%= @bien.date_acquisition %></li>
                  <li>Prix d'achat : <%= @bien.prix_acquisition%>€</li>
                </ul>

                <footer class="item--footer">
                  <a href="#"><i class="fa fa-angle-right"></i>En savoir plus</a>
                </footer>
              </div>

            </li>
          </label>


          <label for="two">
            <li class="item">
              <input type="radio" name="bien" id="two">

              <div class="item--container">
                <header class="item--header">
                  <span class="item--header--icon"><i class="fa fa-house-user"></i></span>
                  <h4 class="item--header--title">Locataire</h4>
                </header>

                <ul class="item--description">
                  <li>Locataire Prenom</li>
                  <li>Locataire Nom</li>
                  <li><i class="fa fa-mobile-alt"></i> 06 01 21 31 34</li>
                  <li><i class="fa fa-envelope"></i> email@locataire.fr </li></li>
                  <li><i class="far fa-calendar-alt"></i>date debut location</li>
                  <li></li>
                </ul>

                <footer class="item--footer">
                  <a href="#"><i class="fa fa-angle-right"></i>En savoir plus</a>
                </footer>
              </div>
            </li>
          </label>

          <label for="three">
            <li class="item">
              <input type="radio" name="bien" id="three">

              <div class="item--container">
                <header class="item--header">
                  <span class="item--header--icon"><i class="fa fa-map-marker-alt"></i></span>
                  <h4 class="item--header--title">Adresse</h4>
                </header>

                <ul class="item--description">
                  <li> <%= @bien.adresse %></li>
                  <li><%= @bien.code_postal %> <%= @bien.ville %></li>
                  <li><%= @bien.surface %>m2</li>
                  <li><%= @bien.nb_pieces %> pièces</li>
                  <li><%= @bien.nb_sdb %> sdb</li>
                </ul>

                <footer class="item--footer">
                  <a href="#"><i class="fa fa-angle-right"></i>En savoir plus</a>
                </footer>
              </div>
            </li>
          </label>

          <label for="four">
            <li class="item">
              <input type="radio" name="bien" id="four">

              <div class="item--container">
                <header class="item--header">
                  <span class="item--header--icon"><i class="fa fa-chart-line"></i></span>
                  <h4 class="item--header--title">CashFlow</h4>
                </header>

                <ul class="item--description">
                  <li>Ce mois-ci : €</li>
                  <li>Depuis le début de l'année : €</li>
                  <li>Emprunt : €</li>
                  <li>Remboursement restant: €</li>
                </ul>

                <footer class="item--footer">
                  <a href="#"><i class="fa fa-angle-right"></i>En savoir plus</a>
                </footer>
              </div>
            </li>
          </label>
      </ul>
      </div>
      <!-- TABLEAU  SYNTHESE -->
      <div class="flex-item-grow">
        <div class="responsive-table">
          <table class="tableau-synthese">
            <thead>
              <tr>
                <th> Année en cours </th>
                <th>Encaissé / Payé</th>
                <th>A venir</th>
              </tr>
            <thead>
            <tbody>
              <tr>
                <td>Loyers</td>
                <td><%= @loyers_received %>€</td>
                <td><%=  %>0€ </td>
              </tr>
              <tr>
                <td>Taxe Foncière</td>
                <td><%= @taxe_fonciere_paid %>€</td>
                <td><%= @taxe_fonciere_tbp %>€</td>
              </tr>
              <tr>
                <td>Copropriété</td>
                <td><%= @copropriete_paid %>€</p></td>
                <td><%= @copropriete_tbp %>€</td>
              </tr>
              <tr>
                <td>Assurances</td>
                <td><%= @assurances_paid %>€</td>
                <td><%= @assurances_tbp %>€</td>
              </tr>
              <tr>
                <td>Travaux</td>
                <td><%= @travaux_paid %>€</td>
                <td><%= @travaux_tbp %>€</td>
              </tr>
              <tr>
                <td>Autres</td>
                <td><%= @autres_paid %>€</td>
                <td><%= @autres_tbp %>€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  <!-- TABLEAU OPERATIONS -->


  <div class="tableau_depenses container mb-4">
    <h2>Dernières transactions </h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Date</div>
        <div class="col col-2">Categorie</div>
        <div class="col col-3">Libellé</div>
        <div class="col col-4">Montant</div>
      </li>

    <% @lasts_transactions.first(5).each do |transaction| %>
      <li class="table-row">
        <div class="col col-1" data-label="Date"><%= transaction['date_paiement'].strftime('%d/%m/%Y') %></div>
        <div class="col col-2" data-label="Categorie"><%= transaction['categorie'] || 'Loyer' %> </div>
        <div class="col col-3" data-label="Libellé"> <%= transaction['nom'] || 'Encaissé' %></div>
        <div class="col col-4" data-label="Montant"><b><%= transaction['montant'] %> €</b></div>
      </li>
    <% end %>
  </div>


</div>
<!-- <h2>Suivi financier</h2>
<h3>Recettes</h3>
<p>Loyers collectés: <%= @loyers_received %>€ reçus / <%=  %>€ à venir</p>

<h3>Dépenses</h3>
<p>Crédit: <%= @credits_paid %>€ payés / <%= @credits_tbp %>€ à payer</p>
<p>Taxe Foncière: <%= @taxe_fonciere_paid %>€ payés / <%= @taxe_fonciere_tbp %>€ à payer</p>
<p>Copropriété: <%= @copropriete_paid %>€ payés / <%= @copropriete_tbp %>€ à payer</p>
<p>Assurances: <%= @assurances_paid %>€ payés / <%= @assurances_tbp %>€ à payer</p>
<p>Travaux: <%= @travaux_paid %>€ payés / <%= @travaux_tbp %>€ à payer</p>
<p>Autres: <%= @autres_paid %>€ payés / <%= @autres_tbp %>€ à payer</p>


<p>Autres</p> -->
