<div class="container">

  <!-- TITLE -->
  <section class="section-title">
    <!-- BACK TO LIST BTN -->
    <div class="block-base block-btn block-btn-retour-biens ">
      <%= link_to biens_path do %>
      	<p>Retour aux biens</p>
			<% end %>
    </div>

    <!-- ICON -->
 <h1>
    <% if @bien.categorie == "Maison" %>
        <i class="fas fa-home"></i>
    <% else %>
        <i class="fas fa-building"></i>
    <% end %>
  </h1>

   

    <!-- TITLE NAME -->
    <h1><%= @bien.nom %></h1>
  </section>




  <!-- LOYER POP UP; color depends on status -->
	<% if @any_loyer_missing_this_bien %>
    <section class="section-card section-pop-up section-alert">
      <p>Le loyer du mois de mars n'a pas été réglé !</p>
    </section>
  <% else %>
    <section class="section-card section-pop-up section-success">
      <p>Le loyer du mois de mars a été payé !</p>
    </section>
  <% end %>



  <!-- BLUE BLOCK + GRAPH CASH FLOWS -->
  <section class="section-dual-equiv-items-centered ">

    <!-- BIEN DESCRIPTION AND INFORMATION as blue block -->
    <div class="section-dual-first-el">
      <ul class="horizontal-bien">

        <!-- [1/4] BIEN INFORMATION -->
        <label for="one">
          <li class="item">
            <input checked type="radio" name="bien" id="one">

            <div class="item--container">
              <header class="item--header">
								<% if @bien.categorie =="Maison" %>
  							  <%# <i class="fas fa-house-user"></i> %>
									<span class="item--header--icon"><i class="fa fa-home"></i></span>
								<% else %>
  							  <%# <i class="fas fa-building"></i> %>
									<span class="item--header--icon"><i class="fa fa-building"></i></span>
								<% end %>
                <%# <span class="item--header--icon"><i class="fa fa-home"></i></span> %>
                <h4 class="item--header--title"><%= @bien.nom %></h4>
              </header>

              <ul class="item--description" >
                <!-- <li><%= @bien.categorie %></li> -->
                <li><%= number_with_delimiter(@bien.montant_loyer, delimiter: " ") %> € / mois</li>
                <li>Acquis le : <%= @bien.date_acquisition.strftime('%d/%m/%Y') %></li>
                <li>Prix d'achat : <%= number_with_delimiter(@bien.prix_acquisition, delimiter: " ") %> €</li>
              </ul>

            </div>

          </li>
        </label>

        <!-- [2/4] LOCATAIRE -->
        <label for="two">
          <li class="item">
            <input type="radio" name="bien" id="two">

            <div class="item--container">
              <header class="item--header">
                <span class="item--header--icon"><i class="fa fa-house-user"></i></span>
                <h4 class="item--header--title">Locataire</h4>
              </header>

              <ul class="item--description">
                <li style="font-size:18px"><strong><%= @bien.locataires.first.prenom %> <%= @bien.locataires.first.nom.upcase %></strong></li>
                <li><i class="fa fa-mobile-alt"></i><a href="tel:0<%= @bien.locataires.first.num_tel %>"> 0<%= @bien.locataires.first.num_tel %></a></li>
                <li><i class="fa fa-envelope"></i><a href="mailto:<%= @bien.locataires.first.email %>"> <%= @bien.locataires.first.email %></a></li></li>
                <li><i class="far fa-calendar-alt"></i> Début location : <%= @bien.locataires.first.date_debut_location.strftime('%d/%m/%Y') %></li>
                <li></li>
              </ul>

            </div>
          </li>
        </label>

        <!-- [3/4] LOCALISATION -->
        <label for="three">
          <li class="item">
            <input type="radio" name="bien" id="three">

            <div class="item--container">
              <header class="item--header">
                <span class="item--header--icon"><i class="fa fa-map-marker-alt"></i></span>
                <h4 class="item--header--title">Adresse</h4>
              </header>

              <ul class="item--description">
                <li><%= @bien.adresse %></li>
                <li><%= @bien.code_postal %> <%= @bien.ville %></li>
                <li><%= @bien.surface %>m²</li>
                <li><%= @bien.nb_pieces %> pièces</li>
                <li><%= @bien.nb_sdb %> sdb</li>
              </ul>

            </div>
          </li>
        </label>

        <!-- [4/4] CASH FLOW -->
        <!-- <label for="four">
          <li class="item">
            <input type="radio" name="bien" id="four">

            <div class="item--container">
              <header class="item--header">
                <span class="item--header--icon"><i class="fa fa-chart-line"></i></span>
                <h4 class="item--header--title">CashFlow</h4>
              </header>

              <ul class="item--description">
                <li>Ce mois-ci : €</li>
                <li>Depuis le début de l'année : €</li>
                <li>Emprunt : €</li>
                <li>Remboursement restant: €</li>
              </ul>

              <footer class="item--footer">
                <a href="#"><i class="fa fa-angle-right"></i>En savoir plus</a>
              </footer>
            </div>
          </li>
        </label> -->
    </ul>
    </div>

    <!-- GRAPHS OVER LAST 12 MONTHS-->
    <div class="section-dual-second-el">

        <!-- DETAILED CF PER MONTH with CUMULATIVE CF GRAPH -->
        <div class="graph-card graph-card-show" id="cfbm" data-cfb="<%= @cash_flow_bien_month %>" data-months="<%= @months_display %>" data-courbe="<%= @cash_flow_courbe_bien %>" >
          <canvas class="graph-show" id="myChartCourbeBien"></canvas>
        </div>

    </div>

  </section>




  <!-- IMPORTANT ACTIONS (add loyer / depense) && SUIVI FINANCIER -->
  <section class="section-dual-equiv-items-centered " style="align-items: stretch;">

    <!-- IMPORTANT ACTIONS -->
    <section class="section-important-actions">

      <!-- ADD LOYER & DEPENSE-->

      <% if @any_loyer_missing_this_bien %>

        <!-- ADD LOYER -->
        <div class="section-card-add-loyer section-warning">
          <p>Avez-vous reçu le loyer du mois de mars de <%= @bien.montant_loyer %>€ de la part de <%= @bien.locataires.first.prenom %> <%= @bien.locataires.first.nom %> ?</p>
          <%= link_to "J'ai reçu le loyer 💰", bien_loyers_path(bien_id: @bien.id, target: bien_path(@bien)), method: :post, class:"block-base block-btn block-btn-save-loyer" %>
        </div>

        <!-- ADD DEPENSE -->
        <div class="section-card-add-depense">
          <p>Ajouter une dépense</p>

          <%= form_for @bien do |f| %>
            <%= f.simple_fields_for :depenses, @bien.depenses.build do |ff| %>
              <%= ff.hidden_field :id %>
              <div class="form-depense">
                <div id="depense-form-nom-montant-cat">
                  <%= ff.input :nom, label: false, placeholder: "Nom du bien", input_html: {class: "form-input espace"} %>
                  <%= ff.input :montant, label: false, placeholder: "Montant en €", input_html: {class: "form-input espace"} %>
                  <%= ff.input :categorie, label: false, collection: Depense::CATEGORIE, prompt: "-- Catégorie --", input_html: {class: "form-input"}  %>
                </div>
                <div id="depense-form-date">
                 <%= ff.input :date_paiement, label: false, placeholder: "sélectionner une date", as: :string, input_html: { class: "date-picker", id: "input-date"} %>
								 <span class="input-icon">
								 	<i class="far fa-calendar-alt" ></i>
								 </span>
                </div>
                <% end %>
                <%= f.submit "Enregistrer",class: "btn-gradient" %>
              </div>
          <% end %>
        </div>

      <% else %>

      <!-- ADD DEPENSE only -->
      <div class="section-card-add-depense w-100">
        <p><strong>Ajouter une dépense</strong></p>

        <%= form_for @bien do |f| %>
          <%= f.simple_fields_for :depenses, @bien.depenses.build do |ff| %>
            <%= ff.hidden_field :id %>
            <div class="form-depense">
              <div id="depense-form-nom-montant-cat">
                <%= ff.input :nom, label: false, placeholder: "Nom du bien", input_html: {class: "form-input espace"} %>
                <%= ff.input :montant, label: false, placeholder: "Montant en €", input_html: {class: "form-input espace"} %>
                <%= ff.input :categorie, label: false, collection: Depense::CATEGORIE, prompt: "-- Catégorie --", input_html: {class: "form-input"}  %>
              </div>
              <div id="depense-form-date">
								<%= ff.input :date_paiement, label: false, placeholder: "sélectionner une date", as: :string, input_html: { class: "date-picker", id: "input-date"} %>
								<span class="input-icon">
									<i class="far fa-calendar-alt" ></i>
								</span>
							</div>
                <% end %>
                <%= f.submit "Enregistrer", class: "btn-gradient" %>
              </div>
            </div>
        <% end %>
      </div>



      <% end %>

    </section>

    <!-- SUIVI FINANCIER -->
    <div class="flex-item-grow">
      <div class="responsive-table" >
        <table class="tableau-synthese">
          <thead>
            <tr>
              <th>Année 2021</th>
              <th>Encaissé / Payé</th>
              <th>A venir</th>
            </tr>
          <thead>
          <tbody>
						<p style="text-align: center; font-size: larger; color: #152F70;"> <strong> Dernières transactions </strong> </p>
            <tr>
              <td>Loyers</td>
              <td><%= number_with_delimiter(@loyers_received , delimiter: " ") %>€</td>
              <td><%= number_with_delimiter(@loyers_tbr , delimiter: " ") %>€</td>
            </tr>
            <tr>
              <td>Crédit</td>
              <td><%= number_with_delimiter(@credits_paid , delimiter: " ") %>€</td>
              <td><%= number_with_delimiter(@credits_tbp , delimiter: " ") %>€</td>
            </tr>
            <tr>
              <td>Taxe Foncière</td>
              <td><%= number_with_delimiter(@taxe_fonciere_paid , delimiter: " ") %>€</td>
              <td><%= number_with_delimiter(@taxe_fonciere_tbp , delimiter: " ") %>€</td>
            </tr>
            <tr>
              <td>Copropriété</td>
              <td><%= number_with_delimiter(@copropriete_paid , delimiter: " ") %>€</td>
              <td><%= number_with_delimiter(@copropriete_tbp , delimiter: " ") %>€</td>
            </tr>
            <tr>
              <td>Assurances</td>
              <td><%= number_with_delimiter(@assurances_paid , delimiter: " ") %>€</td>
              <td><%= number_with_delimiter(@assurances_tbp , delimiter: " ") %>€</td>
            </tr>
            <tr>
              <td>Travaux</td>
              <td><%= number_with_delimiter(@travaux_paid , delimiter: " ") %>€</td>
              <td><%= number_with_delimiter(@travaux_tbp , delimiter: " ") %>€</td>
            </tr>
            <tr style="border-bottom-color: #152F70; border-bottom-width: medium">
              <td>Autres</td>
              <td><%= number_with_delimiter(@autres_paid , delimiter: " ") %>€</td>
              <td><%= number_with_delimiter(@autres_tbp , delimiter: " ") %>€</td>
            </tr>
            <tr>
              <td><strong>TOTAL</strong></td>
							<% if @total_paid >= 0 %>
              	<td class="number-positive"><%= number_with_delimiter(@total_paid , delimiter: " ") %>€</td>
							<% else %>
								<td class="number-negative"><%= number_with_delimiter(@total_paid , delimiter: " ") %>€</td>
							<% end %>
							<% if @total_tbp >= 0 %>
              	<td class="number-positive"><%= number_with_delimiter(@total_tbp , delimiter: " ") %>€</td>
							<% else %>
								<td class="number-negative"><%= number_with_delimiter(@total_tbp , delimiter: " ") %>€</td>
							<% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </section>




  <!-- LAST OPERATIONS TABLE -->
  <section class="section-last-operations">

    <p style="text-align: center; font-size: larger; color: #152F70;"> <strong> Dernières transactions </strong> </p>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Date</div>
        <div class="col col-2">Catégorie</div>
        <div class="col col-3">Libellé</div>
        <div class="col col-4">Montant</div>
      </li>

    <% @lasts_transactions.first(10).each do |transaction| %>
      <li class="table-row">
        <div class="col col-1" data-label="Date"><%= transaction['date_paiement'].strftime('%d/%m/%Y') %></div>
        <div class="col col-2" data-label="Categorie"><%= transaction['categorie'] || 'Loyer' %> </div>
        <div class="col col-3" data-label="Libellé"> <%= transaction['nom'] || 'Encaissé' %></div>
        <div class="col col-4" data-label="Montant">

          <b>

            <% if transaction['categorie'] %>
              <td style="color:red"><i style="color:red; margin-right:8px" class="fas fa-caret-down"></i> <%= number_with_delimiter(transaction['montant'] , delimiter: " ") %> €</td>
            <% else %>
              <td style="color:green"> <i style="color:green; margin-right:8px" class="fas fa-caret-up"></i>  <%= number_with_delimiter(transaction['montant'] , delimiter: " ") %> €</td>
            <% end %>
          </b>
        </div>



      </li>
    <% end %>

  </section>


  <!-- FOOTER -->
	<div class="footer-set-height">
		<%= render 'shared/footer_body' unless @home %>
	</div>

</div>

