<style>
  h3 {
    font-family: sans-serif;
  }
  p {
    font-family:sans-serif;
  }
</style>

<h3>// COPIE // RELANCE - Avis d'&eacute;ch&eacute;ance : <%= @bien.nom %></h3>

<p>
  <br>Bonjour <%= @locataire.prenom %> <%= @locataire.nom %>,
  <br>
  <br>Vous êtes actuellement locataire pour <%= @bien.nom %>.
  <br>
  <br>Nous sommes en attente du r&eacute;glement de votre <b>loyer de <%= @bien.montant_loyer %>€ pour le mois de <%= Date.today.strftime("%B %Y")%>.</b>
  <br>
  <br>N'h&eacute;sitez pas &agrave; me contacter en cas de difficult&eacute;.
  <br>
  <br><%= @bien.user.prenom %> <%= @bien.user.nom %>



</p>