<!DOCTYPE html>
<html>
  <head>
    <title>Keys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path "logo_fond_bleu.ico" %>">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LT2Z4YN23Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LT2Z4YN23Q');
    </script>
  </head>

  <body>

    <!-- NAVBAR -->
    <%= render 'shared/navbar_home' if @home %>
		<%= render 'shared/navbar_body' unless @home %>

    
    <!-- CONTENT -->
    <%= yield %>
    
    <!-- FLASHES -->
    <%= render 'shared/flashes' %>

    <!-- FOOTER home -->
    <%= render 'shared/footer_home' if @home %>

  </body>
</html>
