<!DOCTYPE html>
<html>
  <head>
    <title>Keys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path "logo_fond_bleu.ico" %>">

  </head>

  <body>

    <%= render 'shared/navbar_home' if @home %>
		<%= render 'shared/navbar_body' unless @home %>
    <%= render 'shared/flashes' %>


    <%= yield %>
    <%= render "shared/footer_white" %>
  </body>
</html>
